.todoHeader {
  padding: 1em;
  margin: 1em 0;
}




.todoHeader__txt:focus,
.todoList__txt:focus {
  outline: none;
}

.todoHeader__btn,
.todoList__formBtn {
  flex: 0.1;
  width: 100% !important;
  border-radius: 15px;
  height: 35px !important;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: white;
}
