.todoList {
  padding: 0 1em;
}

.todoList__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList__title input {
  width: 100%;
  color: black;
  border: none;
  font-size: 2.2em;
  padding: 0.5em 0;
  background: none;
}

.todoList__title .todoList__btn {
  display: flex;
}

.todoList__title input:focus {
  outline: none;
}

.todoListCard {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0;
}

.todoListCard__txt {
  flex: 1;
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  background-color: white;
  color: black;
  height: 35px;
}

.todoListCard__text {
  display: flex;
  align-items: center;
}

.todoListCard__text input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 4px;
}

.todoListCard__edit:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.todoListCard__edit {
  width: 100%;
  font-size: 1.1em;
  font-weight: 400;
  height: 35px;
  border: none;
}

.todoListCard__editForm {
  flex: 1;
}
