.todoList {
  padding: 0 1em;
  height: 100vh;
  background-color: var(--background-color);
}

.todoList__title {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoList__form {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
}

.todoList__txt {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding-left: 2em;
  font-size: 1.1em;
  height: 35px;
}

.todoList__title input {
  width: 100%;
  color: black;
  border: none;
  font-size: 26px;
  padding: 1em 0;
  background: none;
}

.todoList__title .todoList__btn {
  display: flex;
}

.todoList__title input:focus {
  outline: none;
}

.todoListCard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.todoListCard__txt {
  background: transparent;
  width: 100%;
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color);
}

.todoListCard__divTxt {
  flex: 1;
  line-height: 0;
}

.todoListCard__text {
  display: flex;
  padding-right: 0.8em;
}

.todoListCard__btn {
  color: var(--nav-color);
  transition: transform 0.2s ease;
}

.todoListCard__btn svg:hover {
  transform: scale(1.2);
  color: var(--icon-color);
}

.todoListCard__text input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 4px;
}

.todoListCard__edit {
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  height: 35px;
  border: none;
}

.todoListCard__editTodo {
  background: transparent;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  height: 35px;
}

.todoListCard__edit:focus,
.todoListCard__editTodo:focus {
  background: transparent;
  outline: none;
}

.todoList__saveBtn {
  border: none;
  background-color: transparent;
}

.todoListCard__editForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

.todoListCard__completed {
  color: #545454;
  text-decoration: line-through;
}

.todoBreakContainer {
  height: 1rem;
}

.todoBreak {
  border-bottom: 2px solid var(--nav-color);
  margin-top: 1rem;
}

.todoListCard__text svg path {
  color: var(--nav-color);
}

.todoList__addBtn {
  display: flex;
  cursor: pointer;
}

.todoList__addBtn p {
  padding-left: 0.8em;
}
